<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="parentDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" abstract="true">
	   <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	   <property name="username" value="root"/>
	   <property name="password" value="mysql"></property>
	</bean>
	 
	<!--  主库 -->
	<bean id="masterDataSource" parent="parentDataSource">
	   <property name="url" value="${db.url.master}"/>
	</bean>
	 
	<!--  从库 -->
	<bean id="slaveDataSource" parent="parentDataSource">
	   <property name="url" value="${db.url.slave}"/>
	</bean>
	 
	<!-- 用PropertyPlaceholderConfigurer来读取properties配置，此处省略配置 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   <property name="location" value="classpath:/multdatasource/demo1/db.properties"/>
	</bean>

	<bean id="catalog" class="multdatasource.demo1.Catalog">
	   <property name="dataSource" ref="dataSource"/>
	</bean>
	 
	<bean id="dataSource" class="multdatasource.demo1.CustomerRoutingDataSource">
		<property name="targetDataSources"> <!-- 这个targetDataSource是必须要注入的 -->
	      <map key-type="java.lang.String">
	         <entry key="MASTER" value-ref="masterDataSource"/>
	         <entry key="SLAVE" value-ref="slaveDataSource"/>
	      </map>
	   </property>
	   <!-- 默认的数据源 -->
	   <property name="defaultTargetDataSource" ref="masterDataSource"/>
	</bean>
	

</beans>
